# Artefatos temporários de treinamento (Ultralytics YOLO - Projeto 3)
runs/
*.cache
yolo11n.pt
yolo11n.onnx

# Python
__pycache__/
*.pyc
model.h5
model.tflite
.venv/

# Ambientes / editores
.vscode/
.DS_Store
